.container {
    padding: 40px;
    /* font-family: Arial, sans-serif; */
    border-radius: 8px;
  }
  
  .title_center {
    text-align: center;
    /* color: #333; */
    margin-bottom: 20px;
    margin-top: 60px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .listItem {
    margin-bottom: 10px;
  }