@font-face {
    font-family: "UncutSans";
    src:url('./fonts/UncutSans-Variable.ttf');
}

* {
    font-family: "UncutSans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

body{
    background-color:#0F0F0F;
}