.form {
    composes: form from '../../styles/gstyles.module.css';
}

.input{
    composes: input from '../../styles/gstyles.module.css';    
}  

.label{
    composes: label from '../../styles/gstyles.module.css';
}

.button{
    composes: button from '../../styles/gstyles.module.css';
}

.textarea{
    composes: textarea from '../../styles/gstyles.module.css';
}
 
.select {
    composes: select from '../../styles/gstyles.module.css';  
} 