.react-select__control.react-select__control {
  background-color: #0F0F0F;
  color: white;
  border: 3px solid white;
  border-radius: 25px;
  font-size:1rem;
}

.react-select__menu.react-select__menu {
    margin-top:-3em;
    background-color: white;
    color: #0F0F0F;
    border-radius:25px;
    font-size:1rem;
    padding:3px;
}

.react-select__option.react-select__option {
    background-color: white;
    color: #0F0F0F;
    border-radius:25px;
}

.react-select__option--is-focused.react-select__option--is-focused {
  background-color: #FFB41D;
  border-radius:25px;
}

.react-select__option--is-selected.react-select__option--is-selected {
  background-color: #0F0F0F;
  color:white;
  border-radius:25px;
}

.react-select__single-value.react-select__single-value {
  color: white;
  border-radius:25px;
}

.react-select__inpu.react-select__input {
  color: white;
  border-radius:25px;
  padding-top:3em;
}

.form[data-request-type="copy-revision"] input,
.form[data-request-type="copy-revision"] textarea,
.form[data-request-type="copy-revision"] select,
.form[data-request-type="copy-revision"] .react-select__control,
form[data-request-type="copy-revision"] .react-select__control.react-select__control {
  border-color: #3D9DD8 !important; /* .revision */
}

.form[data-request-type="requested-change"] input,
.form[data-request-type="requested-change"] textarea,
.form[data-request-type="requested-change"] select,
.form[data-request-type="requested-change"] .react-select__control,
form[data-request-type="requested-change"] .react-select__control.react-select__control {
  border-color: #189B5C !important; /* .changes */
}

.form[data-request-type="design-issues"] input,
.form[data-request-type="design-issues"] textarea,
.form[data-request-type="design-issues"] select,
.form[data-request-type="design-issues"] .react-select__control,
form[data-request-type="design-issues"] .react-select__control.react-select__control {
  border-color: #FFB41D !important; /* .design */
}

.form[data-request-type="new-item"] input,
.form[data-request-type="new-item"] textarea,
.form[data-request-type="new-item"] select,
.form[data-request-type="new-item"] .react-select__control,
form[data-request-type="new-item"] .react-select__control.react-select__control {
  border-color: #F78BD8 !important; /* .item */
}

.revision{
    border-color:#3D9DD8;
}

.changes{
    border-color: #189B5C;
}

.design{
    border-color: #FFB41D;
}

.item{
    border-color: #F78BD8;
}
