/* Button Tour */
.tour__button {
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  z-index: 10;
  margin: 10px 0;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 0px 20px 20px 20px;
  background-color:white;
  color:black;
}

.tour__button:hover {
  cursor:pointer
}
