.projectHeader{
    position:absolute;
    top:0px;
    display:grid;
    grid-template-columns: 1fr minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) 1fr;
    grid-template-rows: 75px 1fr;
    width:100%;
}

.chatbotIcon{
    position:fixed;
    bottom:5em;
    right:1em;
    cursor:pointer;    
}

.guideIcon{
    position:fixed;
    bottom:1em;
    right:1em;
    cursor:pointer;    
}

.terraformBottom{
  width:100%;
  grid-column:2;
  grid-row:2;
  display:flex;
  align-items:flex-end;
  padding-right:25px;
  padding-bottom:0.07em;
  margin-left:-1.5em;
  margin-bottom:1.45em;
}

.terraformBottom>img{
  width:100%;
  height:100%;
  height:auto;
  display:block;
  object-fit:contain;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.lettering{
    grid-column: 1/2;
    grid-row:3/4;
}

.twoFifthsScreen{
    position:fixed;
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    pointer-events:none;
}

.terraformBottom{
    padding-right:5em;
    padding-left:5em;
}

.letteringText{
    font-size:8em;
    /* the font size is set here to 8em, and I want 5em of padding from the original */
    /* 0.312 is half of 0.625, 5/8*/
    padding-left:0.312em;
}

.formContainer{
    display:grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 1fr minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) 1fr;
}

.toast{
    font-family: "UncutSans" !important;
}