.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: flex-start;
  overflow-y: scroll;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}