
.icon{
    width: 12%;
}

.title {
    display: flex;
    margin-left: 4%;
    user-select: none;
    max-width: 45%;
    align-items: center;
    height: 10%;
}

.textTitle {
    font-weight: 800;
    word-wrap: none;
    letter-spacing: 0em;
    white-space: nowrap;
    padding-top: -0.2rem;
    font-size: 5vw;
}