/* .title{
    position:absolute;
    /* top:0.25em; *//*
    left:1.5em;
    display:flex;
    align-items:center;
    font-size:3em;
    font-weight:800;
    word-wrap:none;
    letter-spacing: 0em;
    white-space: nowrap;
    user-select:none;
} */

.icon{
    /* height:0.9em;
    object-fit:contain;
    display:block;
    object-fit:contain; */
    width: 12%;
}

.title {
    /* position: absolute;  */
    /* top: 0.25em; */
    /* left: 1.5em; */
    display: flex;
    margin-left: 4%;
    user-select: none;
    /* width: 90%; */
    max-width: 45%;
    /* min-width: 500px; */
    align-items: center;
    height: 10%;
}

.textTitle {
    font-weight: 800;
    word-wrap: none;
    /* font-size: 5vh; */
    letter-spacing: 0em;
    white-space: nowrap;
    padding-top: -0.2rem;
    font-size: 5vw;
    /* width: 100%; */
    /* height: 100px; */
    /* line-height: 100%;*/
}