.fullScreen {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding:1rem;
}

.input,
.select {  
  margin-top: 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1.2rem;   
  font-size: 0.8rem;
  font-weight: 700;
  border: 3px solid var(--color-white);
  background-color: var(--color-off-black);
  color: var(--color-white);
  border-radius: 30px;
  outline: none;
  z-index: 2;
}

.input:disabled,
select:disabled {
  opacity: 0.5;
}

.card {
  background-color: var(--color-off-black);
  border: 3px solid var(--color-white);
  color: var(--color-gray-light);
  box-shadow: 0 2px 6px var(--color-shadow);
  outline: none;
  font-weight: 700;
  padding: 1rem 0.5rem 1rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
  max-width: 600px;
  margin: 2rem auto;
  color: var(--color-white);
  border-radius: 8px;
}

.title {
  position: absolute;
  top: 0.25em;
  left: 1.5em;
  display: flex;
  align-items: center;
  font-size: 3em;
  font-weight: 800;
  word-wrap: none;
  letter-spacing: 0em;
  white-space: nowrap;
  user-select: none;
}

.icon {
  height: 1em;
  /* object-fit: contain;
    display: block;
    object-fit: contain; */
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  z-index: 2;
}

.textarea {
  font-size: 0.8rem;
  font-weight: 700;
  border: 3px solid var(--color-white);
  background-color: var(--color-off-black);
  color: var(--color-white);
  border-radius: 30px;
  outline: none;
  overflow: hidden;
  resize: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.3rem;
  margin-bottom: 1.2rem;
  z-index: 2;
}

.button {
  border: 3px solid var(--color-black);
  color: var(--color-off-black);
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 30px;
  /* height: 2.5rem; */
  padding: 1rem 0 1rem 0;
  width: 10rem;
  background-color: var(--color-white);
  z-index: 2;
}

/* Button Tour */
.buttonTour {
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  z-index: 10;
  margin: 10px 10px 10px 0px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 0px 20px 20px 20px;
  background-color: white;
  color: black;
  z-index: 2;
}

.buttonTour:hover {
  cursor: pointer;
}
